//Imports
$theme-colors: (
	"modify1" : #0A0909, 
	);

$footer-colors: #0A0909;
$off-white: #f5f2d0;

@import "../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');


//DEFAULT STYLING
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, a {
	font-family: 'Abril Fatface', cursive;
}

li, p {
	font-family: 'Open Sans', sans-serif;
}

.collapse a {
	margin-left: 40px;
}

// END OF DEFAULT STYLING

// PAGE CENTER SECTION
.page-center {
	width: 1500px;
	margin: 0 auto;
}

// END OF PAGE CENTER SECTION

// BURGER SECTION


// END OF BURGER SECTION

// NAVIGATION SECTION

.logo {
	width: 22%;
    margin-right: 175px;
}

.nav-logo {
  	max-width: 100%;
}


// END OF NAVIGATION SECTION

// BANNER SECTION
#banner-wrapper1 {
	background: url('../images/bg-index.jfif') no-repeat ;
	background-size: cover;
	// opacity: .9;
	text-shadow: 3px 2px black;
	background-position: top;
	// margin-bottom: 90px;
}

#banner-wrapper2 {
	background: url('../images/bg-about.jfif') no-repeat ;
	background-size: cover;
	// opacity: .9;
	background-position: center;
	text-shadow: 3px 2px black;
	// margin-bottom: 90px;
}

#banner-wrapper3 {
	background: url('../images/bg-gallery5.jpg') no-repeat ;
	background-size: cover;
	// opacity: .5;
	background-position: center;
	text-shadow: 3px 2px black;
	// margin-bottom: 90px;
}

#banner-wrapper4 {
	background: url('../images/bg-contact.jpeg') no-repeat ;
	background-size: cover;
	// opacity: .9;
	background-position: center;
	text-shadow: 3px 2px black;
	// margin-bottom: 90px;
}

#banner-wrapper5 {
	background: url('../images/bg-products.jpg') no-repeat ;
	background-size: cover;
	// opacity: .9;
	background-position: center;
	text-shadow: 3px 2px black;
	// margin-bottom: 90px;
}

.banner-content {
	padding: 0 20px;
	h1 {
		font-size: 120px;
		padding: 180px 0 15px;
		text-align: center;
	}
	h5{
		font-size: 20px;
		padding-bottom: 205px;
		text-align: center;
	}

	.h1-about {
		font-size: 120px;
		padding: 180px 0 15px;
		text-align: center;
	}

	.h3-about {
		font-size: 20px;
		padding-bottom: 174px;
		text-align: left;
		padding-left: 145px;
		padding-right: 175px;
		margin-bottom: 0;
	}

	.h3-gallery {
	font-size: 30px;
    padding-bottom: 200px;
    text-align: center;
	}

	.h1-services {
		padding-bottom: 250px;
	}

	.h1-gallery {
		padding-bottom: 250px;
	}

}

// END OF BANNER SECTION

// BARBER SERVICES SECTION

.row-img {
	border-radius: 3px;
	width: 100%;
}


// END OF BARBER SERVICES SECTION

// START OF BARBER PRODUCTS

.barber-products {
	.card {
		max-width: 18rem;
	}

	img {
		border: 1px solid #808080;
		border-radius: 3px;
	}
}


// END OF BARBER PRODUCTS

// START OF ABOUT CONTENT

.about-para {
	padding: 10px 0;
}

// END OF ABOUT CONTENT 

// START OF FOOTER
footer {
	background-color: $footer-colors;
	text-align: center;
	color: $off-white;
	padding: 0 20px;
	img {
		max-width: 15%;
    	padding: 15px 0;
	}

	a {
		color: $off-white;
		font-family: 'Open Sans', sans-serif;

	}

	a:hover {
		color: $off-white;
	}

	p {
		letter-spacing: 1.4px;
		font-size: 12px;
	}

	.social-icon {
		i {
			font-size: 24px;
			padding: 10px 6px 30px 6px;
		}
	}
}

// END OF FOOTER

.map{
	margin-top: 10px;
	width: 100%;
	height: 552px;
}

#map2{
	margin-top: 10px;
	width: 100%;
	height: 350px;
}

.section-content2{
	background-color: #F4F4F4;
}

.section-friends {
	background-color: #F4F4F4;
}

.section-quote {
	background-color: #F4F4F4;
}

.contact-icon {
	min-width: 2rem;
}

.friends-logo {
	display: inline-block;
	width: 100px;
	height: 100px;
	// margin: 25px 20px 25px 20px;
	border: 2px solid white;
	border-radius: 100%;
}

.navbar {
	position: fixed;
	overflow: hidden;
	top: 0;
	width: 100%;
	z-index: 5;
	border-bottom: 5px groove #424242;
	// padding: 0;
}

.section-barbers {
	background-color: #F4F4F4;
}

.section-contact {
	background-color: #F4F4F4;
}

.friends-h3 {
	width: 300px;
}

.index-content {
	padding: 0 150px;
}

.nav-footer a {
	font-size: 10px;
}

.about-content {
	padding-right: 0 500px!important;
}

.about-p {
	padding: 0 200px;
}

#h5-services {
	font-size: 25px;
}

li a {
	text-decoration: none;
	color: #fff;
}



.nav-link::after {
	content: '';
	display: block;
	width: 0;
	height: 3px;
	background: #fff;
	transition: width .5s;
	cursor: pointer;
}

.nav-link:hover::after {
	width: 100%;
	transition: width .5s;
	cursor: pointer;
}


.barber-img {
    transition: opacity 1s;
    opacity: 1;
}

.barber-img {
    max-width: 80%;
    height: auto;
    display: inline-block;
    vertical-align: middle;
}

.style-seven {
    overflow: visible; 
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}

.style-seven:before { 
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

.row-img {
	border-radius: 0;
	box-shadow: 6px 8px 17px -4px rgba(0,0,0,0.75);
}


// MEDIA QUERIES

// LARGE SCREEN (LAPTOPS AND DESKTOPS)
 @media only screen and (max-width : 1024px) {

 	.logo {
    	margin-right: 130px;
	}

	.banner-content .h3-about {
    font-size: 25px;
    padding-bottom: 200px;
    text-align: left;
    padding-left: 55px;
    padding-right: 175px;
	}	

	.banner-content .h1-gallery {
    font-size: 120px;
    padding: 185px 0 15px;
	}

	.map-responsive {
		height: 70%;
		width: 100%;
	}

	footer img {
    max-width: 30%;
    padding: 15px 0;
	}

	.section-content1 {
		padding: 0 150px;
	}

	

}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { 
	#index-h1 {
		padding-top: 210px;
	}

	.h1-about {
		padding-top: 210px!important;
	}

	.h1-services {
		padding-top: 210px!important;
	}

	.h1-gallery {
		padding-top: 210px!important;
		padding-bottom: 210px!important;
	}

	.h1-contact {
		padding-top: 210px!important;
	}
}

 // END OF (max-width :1024px)

// MEDIUM SCREENS (PADS AND TABS)
@media only screen and (max-width : 768px) {

	.collapse a {
	    margin-left: 0;
	    
	}

	#navbar-toggler {
		border-color: #0A0909;
	}

	.about-p {
		padding: 0 100px;
	}

	.banner-content {
		h1 {
		    font-size: 65px;
		    padding: 90px 0 15px;
		}

		p {
    		padding-right: 24%;
    		padding-bottom: 80px;
		}
	}

	.banner-content .h1-services {
	    padding-bottom: 200px;
	}



	.index-content {
	padding: 0;
	}

	.banner-content .h1-about {
    	font-size: 80px;
    	padding: 100px 0 15px;
	}

	.banner-content .h3-about {
    	font-size: 20px;
    	padding-bottom: 190px;
    	text-align: left;
    	padding-left: 70px;
    	padding-right: 90px;
	}

	.banner-content .h1-gallery {
   		font-size: 80px;
    	padding: 120px 0 15px;
	}

	.map-responsive {
		height: 70%;
		width: 100%;
	}

	.banner-content .h3-gallery {
	    font-size: 19px;
	    padding-bottom: 192px;
	    text-align: center;
	}	

	.banner-content .h3-contact {
	    font-size: 19px;
	    padding-bottom: 195px;
	    text-align: center;
	}	

	footer img {
   	 	max-width: 30%;
    	padding: 15px 0;
	}

	footer p {
   		letter-spacing: 1.4px;
    	font-size: 10px;
	}

	.about-mv {
		padding: 10 5 10 5px!important;
	}

	.about-content {
		padding-left: 10px!important;
		padding-right: 10px!important;
		margin-bottom:  10px!important
	}

	.index-h5 {
		padding-bottom: 205px;
	}

	.h5-services {
		padding-bottom: 160px;
	}

	.h5-services {
		font-size: 40px;
	}

}

// END OF (max-width :768px)

// SMALL SCREENS (CELLPHONES)
@media only screen and (max-width : 481px) {
	
	.navbar-toggler {
		border-color: #0A0909;
	}

	.section-content1 {
		padding: 0 5px;
	}

	.logo {
		width: 50%;
		margin-right: 0;
	}

	.index-content {
		padding: 0 20px;
	}

	.banner-content {
		h1 {
			font-size: 35px;
			padding: 195px 0 15px;
		}

		h3 {
			font-size: 20px;
		}

		p {
			padding-right: 0;
			padding-bottom: 35px;
			font-size: 12px;
			}
	}

	#banner-wrapper2 {
		padding: 105px 20px;
	}

	.banner-content .h1-about {
		font-size: 35px;
		padding: 45px 0 5px;
		text-align: left;
	}

	.banner-content .h3-about {
	 	font-size: 15px;
		padding-bottom: 60px;
	 	padding-left: 0px;
		padding-right: 0px;
	}

	.banner-content .h1-gallery {
		font-size: 35px;
		padding: 200px 0 200px 0;
	
	}

	.banner-content h3 {
	 	 font-size: 15px;
		 padding-left: 20px;
		 padding-right: 20px;
	}

	.about-para {
		padding: 0;
	}

	.mv-barber h3 {
		text-align: center !important;
	}

	.map-responsive {
		height: 70%;
		width: 100%;
	}

	#banner-wrapper1 h5 {
		font-size: 14px;
	}

	footer img {
   	 	max-width: 60%;
    	padding: 15px 0;
	}

	footer p {
   		letter-spacing: 1.4px;
    	font-size: 10px;
	}

	.about-p {
		padding: 0 5px;
		text-align: justify!important;
	}

	.index-h3 {
		font-size: 20px;
	}

	.h4-about {
		font-size: 20px;
	}
	
	

	.index-h5 {
		padding-bottom: 205px!important;
	}

	.h5-services {
		padding-bottom: 175px!important;
	}
	
	.card-product {
		padding-left: 20px;
	}

	.h5-services {
		font-size: 15px!important;
	}
}





// END OF (max-width :481px)
